$margin-global: 15px;
.content {
	margin: $margin-global;
}

* {
	font-family: sans-serif;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
	margin-bottom: 0;
}

img.fill-in {
	width: 96%;

	animation: pop-up 0.5s forwards ease-in;

	margin-top: 25px;

	z-index: -1;
}
div.done-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	ion-spinner {
		transform: scale(1.5);
	}
}

@keyframes pop-up {
	0% {
		transform: scale(0);
	}

	75% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
