<div class="content">
	<h1>Velkommen!</h1>

	<p>
		Lim inn en link til timeplanen din (skolearena > timeplan i webviewer)
		og sett i gang!
	</p>
	<app-link-input #linkInput></app-link-input>

	<img class="fill-in" src="../../../assets/images/fill_in.svg" alt="" />

	<div class="done-btn">
		<ion-spinner
			*ngIf="linkInput.processing"
			name="crescent"
			color="primary"
		></ion-spinner>
		<ion-button
			*ngIf="!linkInput.processing"
			(click)="doneButton()"
			class="done"
			color="primary"
			[disabled]="linkInput.pattern.errors ? true : false"
		>
			Ferdig</ion-button
		>
	</div>
</div>
