.content {
	// p.under-title {
	// 	// margin-bottom: 0;
	// }

	padding: 8px;
	.delete-cache {
		width: 100%;
		font-size: 18px;
	}
	.link-form {
		padding-bottom: 16px;
		width: 100%;
		display: flex;
		flex-direction: row;
		.link-input {
			width: 80%;
		}

		.link-submit {
			width: 16%;
			margin-top: 10px;
			margin-left: 10px;
		}
	}
}
