<ion-header>
	<ion-toolbar>
		<ion-title>Instillinger</ion-title>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="content">
		<p class="under-title">Webviewer link</p>
		<div class="link-form">	
			<app-link-input #linkInput class="link-input"></app-link-input>
			<ion-button class="link-submit" color="light" (click)="this.submit()">OK</ion-button>
		</div>
		<ion-button class="delete-cache" (click)="deleteCache()">Slett lagrede timeplaner</ion-button>
	</div>
</ion-content>