div.content {
	width: 100%;
	height: 100%;
	img#view {
		width: 100%;
		height: 100%;
	}
}

div.options {
	display: flex;
	width: fit-content;
	height: 56px;
	margin-right: 5px;
}

div.status {
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	* {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	p.status-message {
		text-align: center;
	}

	ion-spinner {
		transform: scale(2) translateX(-25%) !important;
	}
}

div.input {
	width: 55px;
	margin-right: 15px;

	position: relative;
	top: 65%;
	transform: translateY(-50%);
	ion-input {
		width: 100%;
	}
}

.icon {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 50%;
	margin: 0;
	--padding-start: 6px;
	--padding-end: 6px;
}
